@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.app{
display: flex;
align-items: center;
justify-content: center;
left:50%;
  /* display: flex; */
/* transform: translate-x(50%); */
/* margin-left: 30%; */
  /* margin-left: 30%; */
}
/* #splash_screen h1{
  position: absolute;
  width: 700px;
} */


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#home_net{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}
#content{
  display: flex;
    justify-content: center;
    align-items: center;
  background-image: url('https://t3.ftcdn.net/jpg/03/35/50/72/360_F_335507209_Id1c3KMsy23e4Xnzd3zm4zjm1GZwEKHN.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  
  height: 100vh;
  width: 100vw;
  
}
#url{

  flex-direction: column;
  justify-content: center;
  place-items: center;
  
  margin-right: 170px;
  border-radius: 20px;
  font-size: 1.2rem;
  padding-left: 20px;
  font-family: 'Roboto', sans-serif;
  height:6vh;
  width: 40vw;

}
#texts{

  flex-direction: column;
  justify-content: center;
  place-items: center;

  width: 40vw;
  height: 200px;
  align-items: center;
  margin-right: 170px;
  border-radius: 30px;
  font-size: 1.2rem;
  padding-left: 20px;
  padding-top: 15px;
  font-family: 'Roboto', sans-serif;
  box-shadow: rgba(red, green, blue, alpha)
}
#submit{
  display: block;
  background-color:goldenrod;
  height: 50px;
  font-size: 1.2rem;
  margin-top: 20px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  margin-left: 0 !important;
  padding-left: 0 !important;
}

